@import "font";

* {
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
    --bg-dark: #1D2A35;
    --color-dark: #ccc;
    --bg-color: #15202b;
    --background-gradient: 135deg, #343377, #41438E ,#6764CB 0%, #837CBD 100%;
}

.body {
    color: var(--color-dark);
    background: var(--bg-color);
    direction: ltr;
    font-family: "chalkboard";
    height: 2500px;

    .header {
        background: var(--bg-color);
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100%;

        .nav {
            background: var(--bg-dark);
            backdrop-filter: blur(20px);
            position: sticky;
            top: 0;
            z-index: 100;
            height: 80px;
            border-bottom: 1px solid #cccccc16;
        }

        .title {
            height: 400px;
            background: var(--bg-color);

            .header-1 {
                font-size: 30px;
                margin: 100px auto 0 auto;
            }

            .description {
                font-size: 20px;
                margin: 33px 0 0 0;
            }
        }

        .header-gradient {
            background: #3D3D83;
            background: -moz-linear-gradient(var(--background-gradient));
            background: -webkit-linear-gradient(var(--background-gradient));
            background: linear-gradient(var(--background-gradient));
            border-bottom: 1px solid #ffffff47;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            height: 600px;

            @-webkit-keyframes waveColors {
                0% {
                    background-position: 0% 7%;
                }
                50% {
                    background-position: 100% 94%;
                }
                100% {
                    background-position: 0% 7%;
                }
            }
              
            @keyframes waveColors {
                0% {
                    background-position: 0% 7%;
                }
                50% {
                    background-position: 100% 94%;
                }
                100% {
                    background-position: 0% 7%;
                }
            }

            .gradient-wave {
                position: relative;
                width: 100%;
                height: auto;
                top: -10px;
                left: 0;
                transform: rotate(180deg);

                .waves {
                    min-height: 100px;
                    max-height: 100px;
                    width: 100%;
                    use {
                        -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
                        animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;

                        &:nth-child(1) {
                            -webkit-animation-delay: -2s;
                            animation-delay: -2s;
                            -webkit-animation-duration: 7s;
                            animation-duration: 7s;
                        }
                        &:nth-child(2) {
                            -webkit-animation-delay: -3s;
                            animation-delay: -3s;
                            -webkit-animation-duration: 10s;
                            animation-duration: 10s;
                        }
                        &:nth-child(3) {
                            -webkit-animation-delay: -4s;
                            animation-delay: -4s;
                            -webkit-animation-duration: 13s;
                            animation-duration: 13s;
                        }
                        &:nth-child(4) {
                            -webkit-animation-delay: -5s;
                            animation-delay: -5s;
                            -webkit-animation-duration: 20s;
                            animation-duration: 20s;
                        }
                    }
                }
            }
        }
    }

    .service {
        background: var(--bg-dark);
        border-top: 1px solid #cccccc16;
        margin: 1080px 0 0 0;
        position: sticky;
        top: 79px;
        z-index: 10;
        width: 100%;
        height: auto;
        text-align: center;
    
        .box-demo {
            max-width: 1000px;
            display: inline-block;
            align-items: center;
            text-align: center;
            margin: 50px auto;
            
            .box-item {
                width: 300px;
                height: 250px;
                background: linear-gradient(var(--background-gradient));
                display: inline-block;
                margin: 20px 12px;
                border-radius: 20px;
                border: 1px solid #cccccc16;
            }
        }
    }
}


@media (max-widht: 768px) {
    .gradient-wave {
        height: 40px;
        min-width: 40px;
    }
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}